# Игнорировать виртуальное окружение
venv/
env/

# Игнорировать зависимости, установленные с помощью pip
*.pyc
__pycache__/

# Игнорировать файлы конфигурации и логи
*.log
*.sqlite3
*.db

# Игнорировать файлы IDE
.vscode/
.idea/

# Игнорировать файл с весами модели
yolov3.weights

# Игнорировать файлы и папки, относящиеся к операционной системе
.DS_Store
Thumbs.db

# Игнорировать файлы среды
.env

# Игнорировать результаты работы приложения
static/result.jpg

# Игнорировать файлы и директории, создаваемые утилитами
node_modules/
dist/
build/
*.egg-info/
